<h2>User managment</h2>

<table
  border="1"
  cellpadding="8"
  style="width: 100%; border-collapse: collapse; margin-bottom: 20px"
>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button (click)="startEdit(user)">Edit</button>
        <button (click)="deleteUser(user.id)">Obriši</button>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <h3>Create User</h3>
  <label>
    Name:
    <input #nameInput type="text" />
  </label>
  <label style="margin-left: 10px">
    Pass:
    <input #passwordInput type="password" />
  </label>
  <label style="margin-left: 10px">
    Role:
    <select #roleInput>
      <option value="MANAGER">Manager</option>
      <option value="BROKER">Broker</option>
    </select>
  </label>
  <button
    (click)="createUser(nameInput, passwordInput, roleInput)"
    style="margin-left: 10px"
  >
    Create
  </button>
</div>

@if (editingUser) {
<div style="margin-top: 20px; padding: 16px; border: 1px solid #12c43e">
  <h3>Edit user</h3>

  <label>
    Name:
    <input type="text" [(ngModel)]="editingUser.name" />
  </label>

  <label style="margin-left: 10px">
    Role:
    <select [(ngModel)]="editingUser.role" name="role">
      <option value="MANAGER">Manager</option>
      <option value="BROKER">Broker</option>
    </select>
  </label>

  <div style="margin-top: 10px">
    <button (click)="saveEdit()">Save</button>
    <button (click)="cancelEdit()" style="margin-left: 10px">Cancel</button>
  </div>
</div>
}
