.nav-link.active {
  font-weight: bold;
  color: #4b6043 !important;
  background-color: #ced9d065;
  border-radius: 4px;
  padding: 5px 10px;
}

html,
body {
  height: 100%;

  background: linear-gradient(45deg, #e3e3e3, #a7ada9) !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-deep-navy {
  background-color: #1a1a2e !important;
}
.bg-custom-green {
  background-color: #4b6043 !important;
}

th {
  color: white;
  background-color: #4b6043 !important;
}

.btn-primary {
  background-color: #4b6043 !important;
  border-color: #4b6043 !important;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

.bg-primary {
  background-color: #2887e6e5 !important;
}

.bg-secondary {
  background-color: #283be6e5 !important;
}

.bg-warning {
  background-color: #e68a28e5 !important;
}

.bg-danger {
  background-color: #388709 !important;
}

.bg-yellow {
  background-color: #e7d106 !important;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.toast-success {
  background-color: #289aa7 !important;
  color: white !important;
  border-left: 4px solid darken(#289aa7, 10%) !important;
}

.toast-error {
  background-color: #dc3545 !important;
  color: white !important;
  border-left: 4px solid darken(#dc3545, 10%) !important;
}

.toast-info {
  background-color: #4b6043 !important;
  color: white !important;
  border-left: 4px solid darken(#4b6043, 10%) !important;
}

.toast-warning {
  background-color: #992929 !important;
  color: #ffffff !important;
  border-left: 4px solid darken(#992929, 10%) !important;
}

.toast-match {
  background-color: #283be6e5 !important;
  color: white !important;
  border-left: 4px solid #283be6e5 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.toast-exercise {
  background-color: #2887e6e5 !important;
  color: white !important;
  border-left: 4px solid #2887e6e5 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
